{% extends 'base.html' %}
{% block application_form %}
    <div class="row">
        <form id="register-form" action="{{ url_for("users.register_user") }}" method="post">
            <div class="col span-1-of-2">
                <label for="name"> full name</label>
            </div>
            <div class="col span-2-of-2">
                <input type="text" name="name" id="name" placeholder="Your full name" required>
            </div>
            <!--  -->
            <div class="col span-1-of-2">
                <label for="email">email</label>
            </div>
            <div class="col span-2-of-2">
                <input type="email" name="email" id="email" placeholder="your email-id" required>
            </div>
            <!--  -->

            <!--  -->
            <div class="col span-1-of-2">
                <label for="phone_no">MObile Number</label>
            </div>
            <div class="col span-2-of-2">
                <input type="number" name="phone_no" id="phone_no" placeholder="mobile number" required>
            </div>
            <!--  -->
            <div class="col span-1-of-2">
                <label for="dob">date of birth</label>
            </div>
            <div class="col span-2-of-2">
                <input type="date" name="dob" id="dob" placeholder="D.O.B" required>
            </div>


            <div class="col span-1-of-2">
                <label for="gender">gender</label>
            </div>
            <div class="col span-2-of-2">
                <input type="checkbox" name="gender" id="gender" required> male
                <input type="checkbox" name="gender" id="gender" required> female
            </div>


            <div class="col span-1-of-2">
                <label for="password">password</label>
            </div>
            <div class="col span-2-of-2">
                <input type="password" name="password" id="password"
                       placeholder="enter your new password" required>
                <br>
                <input type="password" name="password" id="hapasswordpasswordshed" placeholder="confirm your password"
                       required>
            </div>


            <div class="col span-2-of-2">
                <!-- apply_button_start -->
                <button type="submit" class="btn_register" id="register-submit-button">Apply now</button>
{#                <a href="#" class="btn_register">apply now</a>#}
                <!-- apply_button_end -->
            </div>
            <!-- apply_button_start -->
        </form>
    </div>
{% endblock %}