* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}



/* ======================================== */
/* custom_scroll_bar_start */
/* ======================================== */
/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ======================================== */
/*custom_scroll_bar_end */
/* ======================================== */





.row {
  /* page width */
  width: 90%;
  /* margin of the width */
  /* margin:3% auto; */
}
/* ==============header================== */

header {
  background-image:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.418)), url(imgs/wel2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header h1,h3{
  color: white;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}



header h3 {
  font-weight: 200;
}


/* nav bar */
.main_navigation {
  float: right;
  list-style-type: none;

  margin-right: 100px;
  /* border-bottom: 1px solid grey; */
  transition: 2s;
  font-size: 110%;
}

.main_navigation li {
  display: inline;
  margin-left: 40px;
}

/* main nav states */
.main_navigation li a:link,
.main_navigation li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 95%;
  font-weight: 400;
  border: 2px solid transparent;
  /* border-radius: 200px; */
  padding: 5px;
  transition: border-bottom 0.2s;
  letter-spacing: 2px;
  word-spacing: 3px;
}

/* main nav hover */
.main_navigation li a:hover,
.main_navigation li a:active {
  border-bottom: 2px solid #18adab;
  color:rgb(219, 213, 213);
}


.text_box {
  position: absolute;
  width: 1140px;
  top: 28%;
  left: 22%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img_textbox{

  margin-top: 7%;
  height: 300px;
}

.text_box h1{
  font-size: 225%;
  font-weight: 400;
}



/* ========== welcome_scree_start========== */
.sec1{
  height: 100vh;
}

/* =================save_button_start================ */

.save_button{
  text-decoration: none;
  padding: 5px 8px;
}

/* =================save_button_end================ */

/* ===== sec2 ========= */
.sec2 {
  /* font-size: 80%; */
  font-family: "Lato";
  margin-top: 3%;
  height: 100vh;

}
.sec2  h1 {
  text-align: center;
  font-weight: 400;
}
/* personal info */

.personal_style input[type="text"]
{
  padding:1% 1%;
  margin: 1% 1%;
  display: block;
  font-size:90%;
  font-family: "Montserrat", sans-serif;
}



/* language */

.lan_alignment {
  /* float: right; */

  display: block;
  width: 60%;
  margin: 3% 8%;
  margin-bottom: 1%;
  /* font-family: "Lato"; */
}

.lan_alignment h2{
font-weight: 400;
letter-spacing: 2px;
/* margin-bottom: %; */
}
.lan_alignment p{
  margin-bottom: 3%;
  letter-spacing: 1px;
}

.table_align {
  margin: 0% auto;
}

table{
  width: 100%;
}

table,
th,
 {
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 85%;

}

th {
  text-align: center;
  font-weight: 300;
  letter-spacing:2px;
  font-size: 95%;
}

/* table,
th,
td:nth-child(1) {
  padding: none;
} */

th {
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 10px;
}

tr {
  margin: 35% 10%;

}

td {
  /* margin:15%; */
  font: Lato;
  font-weight: 300;
  margin-top: 2%;
  font-size: 90%;
  padding-bottom: 30px;
  padding-right: 10px;
  text-align: center;
}

/* for custom check box */

.center {
  /* transform:translate(-50%,-50%);*/
  margin: 15% 50%;
  position: absolute;
}

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  transition: 0.5s;
  padding-top: 3%;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  height: 100%;
  border: 2px solid black;
}

input:checked[type="checkbox"]:before {
  border-left: none;
  border-top: none;
  width: 10px;
  border-color: greenyellow;
  transform: rotate(45deg);
}

input.no_check:checked[type="checkbox"]:before {
  border-left: none;
  border-top: none;
  width: 10px;
  border-color: red;
  transform: rotate(45deg);
}

/* ============== */

.edu{
  margin: 1% 8%;
}

.edu_head{
  margin:0 8%;
}

.edu h2{
  font-weight: 400;
  letter-spacing: 2px;
  padding:0 1%;
}
.edu p{
  letter-spacing: 1px;
  font-weight: 200;
  padding: 0.1% 1%;
}

.span-1-of-4 h1{
text-align: center;
font-weight: 700;
text-transform: uppercase;
font-size: 90%;
letter-spacing: 1px;
}

.span-1-of-4:nth-child(1),
.span-1-of-4:nth-child(2)
{
 width: 20%;
}


.time_align{
  padding-left: 1%;
}


.span-1-of-4:nth-child(3){
  margin-left: 5%;
  }

.span-1-of-4:nth-child(4){
margin-left: 3%;
}


.input_course{
  margin: 0 22%;
}


input[type="text"],
input[type="email"],
input[type="number"]{
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
  padding: 5% 2%;
  border-width: 0 0 2px;
  border-bottom: 2px solid blue;
  font-size: 70%;
  border-radius: 5px;
}

.input_time table th {
  font-weight: 300;
  text-transform: lowercase;
}
.input_time table tr{
  margin: 0 0;
}

.input_time td{
  margin: 0 0;
  padding-bottom: 4%;
  width: 150%;
}




input[type="date"]{
  margin-top: 7%;
  border-width: 0 0 2px;
  border-bottom: 2px solid blue;
text-align: center;
width: 95%;

}

.modal_form input[type='text']:focus,
.modal_form input[type='date']:focus{
  /* width: 60%; */
  border-color:transparent;

}

.ins_align input[type="text"]{
  /* margin-top: 3%; */
}




/* ====================*/
.tab {
  overflow: hidden;
 border: none;
  background-color:transparent;
  font-size: 110%;
  transform: translate(19%,0);
  border-radius: 5px;
  margin-top: 1%;
  width: 60%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: white;
  background-color: #3498db;
  float: left;
  border: none;
  /* border-width: 0 0 2px;
  border-bottom: 2px solid #19679b; */
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 2%;
  font-size: 65%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #19679b;
  /* border-color: #25a898; */
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:#25a898;
  /* border-color: #25a898; */
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 border: none;
}


/* ====================== */
.Exp_align{
  margin: 0 8%;
  color: black;
}

.Exp_align h3{
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0.5%;
  color: black;
}

textarea{
  border-radius: 5px;
  border-width: 0.5 0.5 0.5 0.5;
  margin-top: 1%;
 padding: 15px 15px;
 box-shadow: 5px 5px rgba(90, 89, 89, 0.192);
}

.span-1-of-2{
  width: 15%;
}


input[type="text"]{

  padding: none;
}

.Declar_align{
  margin: 2% 8%;
  width: 20%;
}

.Declar_align p {
  /* margin-top: 5%; */
  text-align: justify;
}

.span-1-of-2 .form_ele{
  margin-top: 2%;
}
/* save and submit button at declaration */

button {
  background-color: #25a898;
  color: #f3f3f3;
  margin-top: 40px;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
}

button:link,
button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 60px;
  display: inline-block;
  border-radius: 200px;
  transition: all 2s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(36, 35, 35, 0.719);
  background-color: rgba(0, 47, 73, 0.808);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(7, 7, 7, 0.5);
  background-color: rgba(0, 47, 73, 0.808);
}

.imp_info{
  font-size: 80%;
  margin-top: 3%;
}
.sign{
  color: red;
}