<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phase 2</title>
    <link rel="icon" href="resources/css/imgs/logos/main.png" size="20X20">


    <!-- style sheet link -->

    <link rel="stylesheet" href="support/css/grid.css">
    <!-- <link rel="stylesheet" href="support/css/croppie.css"> -->
    <link rel="stylesheet" href="resources/css/form2.css">
    <link rel="stylesheet" href="support/css/normalize.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500" rel="stylesheet">




    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="support/fonts/css/fa-brands.css">
    <link rel="stylesheet" href="support/fonts/css/fontawesome.css">
    <link rel="stylesheet" href="support/fonts/css/fa-regular.css">
    <link rel="stylesheet" href="support/fonts/css/fa-solid.css">

    <!-- jquery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="">
                <!-- `````````````logo_start`````````` -->

                <!-- `````````````logo_end`````````` -->
                <ul class="main_navigation">
                    <li>
                        <a href="#about_unv">Home</a>
                    </li>



                    <li>
                        <button id="modal_btn" class="log_in_button">logOut </button>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="row disp_welmsg">
            <img src="resources/css/imgs/logos/main.png" alt="">

            <div class="row">
                    <div class="row main_heading">
                        <h1>
                            We have assessed the application form submitted by you, and as per our assessment we would now like to know more about your
                            volunteering experience.
                        </h1>
                    </div>

        </div>

        <div class="center">
            <div class="down">

            </div>
        </div>
    </header>


    <section>
        <div class="row">


            <div class="row">
                <h1>Volunteering Experience</h1>
            </div>

            <div class="row main_form2">
                <form action="">
                    <table>

                        <tr>
                            <td>
                                what have you worked as or volunteered as:
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Organization you worked with (or your own initiative if
                                <br> you are someone with your own social enterprise) :
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>



                        <tr>
                            <td>
                                NGO Contact Person:
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>




                        <tr>
                            <td>
                                Telephone No:
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>





                        <tr>
                            <td>
                                Mobile No:
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>





                        <tr>
                            <td>
                                Email ID:
                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>

                    </table>

                </form>

                <form action="">
                    <table>
                        <tr>
                            <td>
                                What was the intended impact of this assignment? (word limit: 100 words) :
                                <br>
                                <textarea name="" id="" cols="60" rows="10"></textarea>
                            </td>


                        </tr>




                        <tr>
                            <td>
                                Assignment Details: (word limit: 200 words)
                                <br>
                                <textarea name="" id="" c cols="60" rows="10"></textarea>
                            </td>


                        </tr>




                        <tr>
                            <td>
                                Period of Engagement (E.g. from 15 Jan’15 to 30 Jun’15) :

                            </td>
                            <td>
                                <input type="text">
                            </td>


                        </tr>




                        <tr>
                            <td>
                                Frequency of Engagement (E.g. 3 half days in a week) :

                            </td>
                            <td>
                                <input type="text">
                            </td>


                        </tr>




                        <tr>
                            <td>
                                Estimated hours of volunteering 3 x 4= 24 hours nearly :

                            </td>
                            <td>
                                <input type="text">
                            </td>

                        </tr>





                        <tr>
                            <td>
                                What was the outcome of your volunteering assignment for the community? (word limit: 200 words)
                                <br>
                                <textarea name="" id="" cols="60" rows="10"></textarea>
                            </td>


                        </tr>





                        <tr>
                            <td>
                                What impact did the assignment actually achieve? (word limit: 200 words)
                                <br>
                                <textarea name="" id="" cols="60" rows="10"></textarea>
                            </td>

                        </tr>





                        <tr>
                            <td>
                                Please enumerate any specific innovations / initiatives you undertook as part of this assignment (word limit: 200 words)
                                <br>
                                <textarea name="" id="" cols="60" rows="10"></textarea>
                            </td>


                        </tr>




                        <tr>
                            <td>
                                Please share one example from this experience which left a significant impact on you.
                                <br>
                                <textarea name="" id="" cols="60" rows="10"></textarea>
                            </td>


                        </tr>




                    </table>
                </form>
            </div>


        </div>
    </section>


    <section>
        <div class="row">
            <div class="row">
                <h1>Help us know you better</h1>
                <form action="">
                    <div class="align_1">
                        <p>Share a 3 minute video of your work / impact of your work (if a video already exists on a platform
                            you can provide the link for it and indicating the 3 minutes that you would like for us to consider)
                        </p>

                        <input type="url" placeholder="https://drive.google.com">

                    </div>

                    <div class="align_1">
                        <p>Share 5 action photos from your field </p>

                        <input type="url" placeholder="https://drive.google.com">
                        <input type="url" placeholder="https://drive.google.com">
                        <input type="url" placeholder="https://drive.google.com">
                        <input type="url" placeholder="https://drive.google.com">
                        <input type="url" placeholder="https://drive.google.com">
                    </div>

                    <div class="align_1">
                        <p>Your strengths and areas of improvement: As a person what are some of your strengths and what are
                            some of the areas that you wish to improve on?
                        </p>
                        <textarea name="" id="" cols="60" rows="10"></textarea>
                        <p>How do you wish to take your learnings forward?
                        </p>

                        <textarea name="" id="" cols="60" rows="10"></textarea>
                    </div>
                    <div>
                        <button> submit </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <h1>Connect with us</h1>
        </div>

        <div class="row footer_div_style">
            <ul>
                <li>
                    <a class="foot_a_style" href="#">
                        <i class="fab fa-facebook-square fa-2x "></i>
                    </a>
                </li>
                <li>
                    <a class="foot_a_style" href="#">
                        <i class="fab fa-twitter-square fa-2x "></i>
                    </a>
                </li>
                <li>
                    <a class="foot_a_style" href="#">
                        <i class="fab fa-instagram fa-2x "></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>


</body>

</html>