<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome,V-awards</title>
    <link rel="icon" href="{{ url_for('static', filename='resources/css/imgs/logos/main.png') }}" size="20X20">

    <!-- style sheet link -->

    <link rel="stylesheet" href="{{ url_for('static', filename='support/css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='resources/css/user_dashapply2.css') }}">
    <link rel="stylesheet" href="/static/resources/css/user_dashapply2.css?q=1280549780"
          type="text/css" media="screen" charset="utf-8"/>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,500" rel="stylesheet">


    <!-- jquery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</head>

<body>
<header>

    <!-- nav_bar -->
    <nav>
        <div class="">
            <ul class="main_navigation">
                <li>
                    <a href="#about_unv">Home</a>
                </li>


                <li>
                    <button id="modal_btn" class="log_in_button">logOut</button>
                </li>

            </ul>
        </div>
    </nav>
    <!-- nav_bar -->

    <!-- logo -->
    <div class="text_box">
        <div class="img_textbox">
            <img src="resources/css/imgs/logos/main.png" style="height: 300px;width: 300px" alt="">
            <img src="{{ url_for('static', filename='resources/css/imgs/logos/main.png') }}"
                 style="height: 300px;width: 300px" alt="">
            <h1>Welcome, {{ name }}</h1>
            <h3>continue your nomination process.</h3>
        </div>

    </div>

    <!-- logo end-->
</header>

<section>

</section>

<section class="sec2">
    <!-- main heading -->
    <div>
        <h1>Let's know you better</h1>

    </div>


    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'Personal_info')">Personal Info</button>
        <button class="tablinks" onclick="openForm(event, 'Education')">Education</button>
        <button class="tablinks" onclick="openForm(event, 'Experience')">Experience</button>
        <button class="tablinks" onclick="openForm(event, 'Reference')">Reference</button>
        <button class="tablinks" onclick="openForm(event, 'Declaration')">Declaration</button>
    </div>

    <div class="tabcontent" id="Personal_info">
        <div class="lan_alignment personal_style">
            <form action="{{ url_for("form1.save_form_1") }}" method="post">
                <table>
                    <tr>
                        {% if language == 0 %}
                            <th>
                                Current Address :
                            </th>
                            <td>
                                <input type="text" name="current_address_line_1" placeholder="address line 1">
                                <input type="text" name="current_address_line_2" placeholder="address line 2">
                            </td>
                        {% elif language == 1 %}
                            <th>
                                वर्तमान पता :
                            </th>
                            <td>
                                <input type="text" placeholder="पता पंक्ति 1">
                                <input type="text" placeholder="पता पंक्ति 2">
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if language == 0 %}
                            <th>
                                Permanent Address :
                            </th>
                            <td>
                                <input type="text" name="permanent_address_line_1" placeholder="address line 1">
                                <input type="text" name="permanent_address_line_2" placeholder="address line 2">

                            </td>
                        {% elif language == 1 %}
                            <th>
                                स्थाई पता :
                            </th>
                            <td>
                                <input type="text" placeholder="पता पंक्ति 1">
                                <input type="text" placeholder="पता पंक्ति 2">

                            </td>
                        {% endif %}

                    </tr>
                </table>

                {% if language == 0 %}
                    <p>If you have a disability please do specify and let us know of any special arrangements you
                        may need, if you are shortlisted for interview and the programme.</p>
                    <textarea name="disability" id="" cols="60" rows="10"></textarea>
                {% else %}
                    <p>यदि आपके पास विकलांगता है तो कृपया निर्दिष्ट करें और आपको किसी भी विशेष व्यवस्था के बारे में
                        बताएं, यदि
                        आपको साक्षात्कार और कार्यक्रम के लिए चयन किया गया है।</p>
                    <textarea name="" id="" cols="60" rows="10"></textarea>
                {% endif %}
        </div>
    </div>

    <div class="tabcontent" id="Education">
        <div class="lan_alignment">
            <div>

                <h2>Language skills</h2>

                <p> Please indicate level of proficiency by selecting accurate response</p>
            </div>
            <!-- lannguage_questionaire -->
            <div class="row ">
                <table>
                    <tr>
                        <th>LANGUAGES</th>
                        <th>Understand</th>
                        <th>speak</th>
                        <th>read/write</th>
                    </tr>
                    <tr>
                        <td>
                            Hindi
                        </td>

                        <td>
                            <label for="">
                                <input type="checkbox" name="hindi_understand"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>

                        <td>
                            <label for="">
                                <input type="checkbox" name="hindi_speak"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>

                        <td>
                            <label for="">
                                <input type="checkbox" name="hindi_read_write"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>
                    </tr>
                    <tr>

                        <td>English</td>
                        <td>
                            <label for="">
                                <input type="checkbox" name="english_understand"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>

                        <td>
                            <label for="">
                                <input type="checkbox" name="english_speak"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>

                        <td>
                            <label for="">
                                <input type="checkbox" name="english_read_write"> yes</label> &nbsp;
                            <label for="">
                                <input type="checkbox" class="no_check"> no</label>
                        </td>
                    </tr>

                </table>
                <!-- <div>
                    <a href="#" class="save_button">Save</a>
                </div> -->
            </div>
        </div>


        <div class="row">
            <div class="edu">
                <h2>Education and Training</h2>
                <p> (start with most recent qualification) </p>
            </div>
            <div class="edu">
                <div class="col span-1-of-4">
                    <h1>course</h1>
                    <br>
                    <div class="input_course">
                        <input type="text" name="tenth" id="" placeholder=" name">

                        <input type="text" name="twelfth" id="" placeholder=" name">

                        <input type="text" name="graduate" id="" placeholder=" name">

                        <input type="text" name="postgraduate" id="" placeholder=" name">
                    </div>
                </div>
                <div class="col span-1-of-4">
                    <h1 style="padding-left: 15%">Time</h1>

                    <div class="input_time">
                        <table>
                            <tr>
                                <th>From</th>
                                <th>Till</th>
                            </tr>

                            <tr>
                                <td>
                                    <input type="date" name="from_tenth">
                                </td>
                                <td>
                                    <input type="date" name="till_tenth">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="date" name="from_twelfth">
                                </td>
                                <td>
                                    <input type="date" name="till_twelfth">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="date" name="from_graduate">
                                </td>
                                <td>
                                    <input type="date" name="till_graduate">
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <input type="date" name="from_postgraduate">
                                </td>
                                <td>
                                    <input type="date" name="till_postgraduate">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col span-1-of-4">
                    <h1>school/institution</h1>
                    <br>
                    <div class="input_course">
                        <input type="text" name="school_tenth" id="" placeholder=" name">

                        <input type="text" name="school_twelfth" id="" placeholder=" name">

                        <input type="text" name="school_graduate" id="" placeholder=" name">

                        <input type="text" name="school_postgraduate" id="" placeholder=" name">
                    </div>

                </div>
                <div class="col span-1-of-4">
                    <h1>board/university</h1>
                    <br>
                    <div class="input_course">
                        <input type="text" name="board_tenth" id="" placeholder="DD/MM/YYYY">

                        <input type="text" name="board_twelfth" id="" placeholder="DD/MM/YYYY">

                        <input type="text" name="board_graduate" id="" placeholder="DD/MM/YYYY">

                        <input type="text" name="board_postgraduate" id="" placeholder="DD/MM/YYY">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="tabcontent Exp_align" id="Experience">
        <div class="">
            <h3>About you: Please share something about yourself – your journey so far and what have been the major
                influences
                and experiences that have shaped and inspired you? What are some of your passions? (450-500 words) </h3>
            <p>
                <textarea name="about_you" id="" cols="150" rows="10"></textarea>
            </p>
        </div>


        <div class="row">
            <h3>We would like to know why do you volunteer: </h3>
            <div>
                <p>
                    <textarea name="why_volunteer" id="" cols="150" rows="10"></textarea>
                </p>
            </div>
        </div>


        <div>
            <h3>Who are the communities you are working with? Is your project directly impacting socially excluded
                communities
                and how?</h3>
            <p>
                <textarea name="communities_associated" id="" cols="150" rows="10"></textarea>
            </p>
        </div>

        <div>
            <h3>What is your motivation to apply for this award?</h3>
            <p>
                <textarea name="motivation" id="" cols="150" rows="10"></textarea>
            </p>
        </div>

    </div>

    <div class="tabcontent Exp_align" id="Reference">
        <h3>REFERENCE </h3>
        <p>Please give two referees with names and addresses. The referees should be people you have worked/working with
            (someone from commutiny can also be referee) or studied/studying under (No family members or close friends
            please)
        </p>

        <div>
            <div class="col span-1-of-2">
                <h3>first referee</h3>
                <p>
                    <input type="text" name="first_name" placeholder="Full Name">
                </p>
                <p>
                    <input type="text" name="first_address" placeholder="Address">
                </p>
                <p>
                    <input type="text" name="first_occupation" id="" placeholder="Occupation">
                </p>
                <p>
                    <input type="text" name="first_relation" placeholder="relationship">
                </p>
                <p>
                    <input type="number" name="first_tel_no" placeholder="Tel. No.">
                </p>
                <p>
                    <input type="email" name="first_email" id="" placeholder="Email Address">
                </p>
            </div>

            <div class="col span-1-of-2">
                <h3>second referee</h3>
                <p>
                    <input type="text" name="second_name" placeholder="Full Name">
                </p>
                <p>
                    <input type="text" name="second_address" placeholder="Address">
                </p>
                <p>
                    <input type="text" name="second_occupation" id="" placeholder="Occupation">
                </p>
                <p>
                    <input type="text" name="second_relation" placeholder="relationship">
                </p>
                <p>
                    <input type="number" name="second_tel_no" placeholder="Tel. No.">
                </p>
                <p>
                    <input type="email" name="second_email" id="" placeholder="Email Address">
                </p>
            </div>
        </div>
    </div>


    <div class="tabcontent Declar_align" id="Declaration">
        <div>

            <p>
                I hereby declare that all the above entries made are true to the best of my knowledge and we understand
                that any false information can lead to disqualification from the Youth Award.
                I understand that merely signing this form does not entitle us to be part of this award.
            </p>

        </div>

        <div>
            <button type="submit">Save</button>
            <button type="submit">Submit</button>
        </div>
        </form>
        <div>
            <p class="imp_info"><label for="" class="sign">*</label> Save your form to edit before the last date of
                application. <br>
                <label for="" class="sign">*</label> You cannot edit your form once you submit it</p>
        </div>
    </div>


</section>


<!-- scripts -->

<script src="{{ url_for('static', filename='support/js/sweetalert.js') }}"></script>
<script src="{{ url_for('static', filename='support/js/croppie.js') }}"></script>
<script src="{{ url_for('static', filename='resources/js/scrip_user_dash.js') }}"></script>

</body>

</html>